/** Add css rules here for your application. */


html{
height:0px !important;	
}

body{
	margin:0 !important;
	overflow-x: scroll;
	overflow-y:scroll;
	width:100%;.
	height:100%;
}

th,td{
	padding: 8px 8px 8px 8px !important;
}
.panel{
	border:0px !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px !important;
}

.panel-default{
	margin-bottom:0px !important;
}

.panel-footer{
	margin-bottom:5%;
}

.panel-footer, .panel-heading{
	padding-left:1% !important;
}
.dataContainer{
	padding-left:15% !important;
	padding-right:15% !important;
}

.dataContainer div{
	padding-left:0%;
	padding-right:0%;
}


#subContainer{
	margin-top:7%;
	margin-bottom:2.5%;
}

#subContainer form{
	padding-left:15%;
	padding-right:15%;
	padding-top: 1%;
	padding-bottom:1%;
}

.filterColLeft, .filterColMiddle, .filterColRight{
	width: 33.33%;
	float: left;
	position: relative;
	min-height: 1px;
}

.filterColLeft{
	padding-left:0px !important;
}

.filterColMiddle{
	width:17% !important;
	margin-left: 16.3333%;
}

.filterColRight{
	float:right;
	padding-right: 10px;
}
.filterColRight .form-group{
	float:right;
}

.filterColSearch{
	width: 20% !important;
	min-height: 1px;
	position: relative;
	float:left;
	border:1px solid grey;
}
.appliedFilter{
	width:70%;
	float:left;
	min-height: 36px;
	position: relative;
	border:1px solid grey;
}
.expandFilter{
	width:10%;
	float:left;
	position: relative;
	min-height: 1px;
	border:1px solid grey;
}

.expandFilter .btn{
	float:right;
}

#subContainer .row{
	margin-bottom: 1%;
}

.filterColSearch .btn{
	float:right;
	margin-left:3%;	
}

.backgroundText{
	position:absolute;
	z-index:2;
	width:60%;
	height:60%;
	margin-left:20%;
	margin-top: 8%;
}

.backgroundLogo{
	z-index:1;
	position:absolute;
}

img{
	width:100%;
	height:100%;
}

.navbar-header{
margin-top:-1%;
}

#navBar{
	padding-top:1%;
	height:10%;
	padding-left: 15%;
	padding-right:15%;
}

.navbar-collapse{
	width:77% !important;
	margin-left:23% !important;
}

.navbar-nav{
	float:right !important;
	position:relative;

}

#footerBar .navbar-collapse{
	margin-left:0% !important;
	padding-top:1%;
	width:100% !important;
	padding-left:15% !important;
	padding-right:15% !important;
}

#footerBar .footerSe7en{
	width:33%;
	float:left;
}

#footerBar .footerAd{
	width:33%;
	text-align:center;
	float:left;
	display:block !important;
}

#footerBar .footerLicence{
	float:right;
	position:relative;
}
