/** Add css rules here for your application. */


html{
height:0px !important;	
}

body{
	margin:0 !important;
	overflow-x: scroll;
	overflow-y:scroll;
	width:100%;.
	height:100%;
}

th,td{
	padding: 8px 8px 8px 8px !important;
}

h3{
	width:60%;
	float:left;
	margin:0 !important;
}
.panel{
	border:0px !important;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px !important;
    margin-bottom: 1% !important;
}

.panel-footer{
	margin-bottom:1%;
}

.panel-footer, .panel-heading, #collapseOne{
	padding-left:0.5% !important;
	padding-right:0.5% !important;
	border:1px solid #E5E5E5 !important;
}
.panel-heading{
	padding: 10px 15px;
background-color: #F5F5F5;
border-top: 1px solid #DDD;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

#subContainer,#navBar{
	padding-left:15% !important;
	padding-right:15% !important;
}

#subContainer{
	margin-top:6%;
	margin-bottom:2%;
}

#subContainer form{
	padding-top: 1%;
	padding-bottom:1%;
}

#subContainer .panel-heading{
	color: #333;
	padding-top:1%;
	padding-bottom:1%;
	background-color: #F5F5F5;
	border-color: #DDD;
}

#subContainer .row{
	margin-bottom: 0.25%;
	margin-left:0 !important;
	margin-right:0 !important;
}

#subcontainer .panel-footer{
	padding-left: 0 !important;
}

#container .dataContainer{
	padding-left: 15% !important;
	padding-right: 15% !important;
}

.appliedFilterBox .panel{
	background-color: #F5F5F5 !important;
}

.appliedFilterBox .label{
	font-size: 110% !important;
	font-weight:normal !important;
	line-height: 34px !important;
}


.filterColLeft, .filterColMiddle, .filterColRight{
	width: 33.33%;
	float: left;
	position: relative;
	min-height: 1px;
}

.filterColLeft{
	padding-left:0px !important;
}

.filterColMiddle{
	width:17% !important;
	margin-left: 16.3333%;
}

.filterColRight{
	float:right;
	padding-right: 10px;
}
.filterColRight .form-group{
	float:right;
}

.filterColSearch{
	width: 100% !important;
	min-height: 1px;
	position: relative;
	float:left;
}
.appliedFilter{
	width:70%;
	float:left;
	height: 36px;
	position: relative;
}
.expandFilter{
	width:40%;
	float:left;
	position: relative;
	min-height: 1px;
}

.expandFilter .btn{
	float:right;
}



.filterColSearch .btn{
	float:right;
	margin-left:3%;	
}

.backgroundText{
	position:absolute;
	z-index:2;
	width:60%;
	height:60%;
	margin-left:20%;
	margin-top: 8%;
}

.backgroundLogo{
	z-index:1;
	position:absolute;
}

img{
	width:100%;
	height:100%;
}

.navbar-header{
margin-top:-1%;
}

#navBar{
	padding-top:1%;
	height:10%;
	padding-left: 15%;
	padding-right:15%;
}

.navbar-collapse{
	width:77% !important;
	margin-left:23% !important;
}

.navbar-nav{
	float:right !important;
	position:relative;

}